    body {
        font-family: 'Open Sans';
        background-image: url("bg.jpg");
        background-repeat: no-repeat;
        background-color: #44b0ac;
        background-size: 450px;
    }
    
    .konfetti {
        width: 400px;
        top: -400px;
        position: absolute;
        pointer-events: none;
        animation: nutka 4s linear 1s 1 normal;
    }
    
    #quiz-container {
        width: 400px;
        height: 750px;
        background-color: rgba(255, 255, 255, 0.6);
    }
    
    #start-screen {
        text-align: center;
        display: block;
    }
    
    #start-button {
        margin-top: 20px;
        background-color: #db2100;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
        border-radius: 5px;
    }
    
    #start-button:hover {
        background-color: #0056b3;
    }
    
    #next-button,
    #restart-button {
        display: none;
        margin-top: 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
        border-radius: 5px;
    }
    
    #next-button:hover,
    #restart-button:hover {
        background-color: #0056b3;
    }
    
    #choices button {
        display: flex;
        flex-direction: column;
        align-content: center;
        background-color: #db6934;
        color: white;
        border: none;
        margin-bottom: 40px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        padding: 10px 20px;
        margin-left: 10%;
        text-align: center;
    }
    
    #choices button:hover {
        background-color: #953ee1;
    }
    
    #choices button.clicked {
        background-color: #594fb5;
    }
    
    #question {
        color: #c02806;
        text-align: center;
        margin-bottom: 50px;
        margin-top: 30px;
    }
    
    #next-button {
        background-color: #6050ee;
    }
    
    #result {
        margin-top: 200px;
        color: #bf259b;
        text-align: center;
    }
    
    #claimRewardButton {
        display: block;
        align-content: center;
        background-color: #db6934;
        margin-top: 200px;
        margin-left: 100px;
        margin-bottom: 40px;
        font-size: 30px;
        color: #fff;
        border: none;
        cursor: pointer;
        text-align: center;
    }
    
    @keyframes nutka {
        0% {
            opacity: 100;
            transform: translate(0, 0);
        }
        100% {
            opacity: 100;
            transform: translate(0px, 1000px);
        }
    }