body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    margin-top: -20px;
    width: 370px;
    height: 1334px;
    background-color: blue;
}